<!-- <div class="container">
	<h1> {{ title }} </h1>

	<ng-container *ngIf="userInfo">
		<div>Name: {{ userInfo.info.name }}</div>
		<div>Email: {{ userInfo.info.email }}</div>
		<div>
			<img [src]="userInfo.info.picture" alt="User image" class="user-image">
		</div>
	</ng-container>

	<button *ngIf="!isLoggedIn; else logout;" mat-raised-button color="primary" (click)="onloginWithGoogle()">Login with google</button>
	
	<ng-template #logout>
		<button (click)="onLogout()" mat-raised-button>Logout</button>
	</ng-template>
</div> -->

<mat-toolbar color="primary">
	<span>Google OAuth</span>
	
	<nav>
		<ul>
			<li routerLink="dashboard" routerLinkActive="active">Dashboard</li>
			<li routerLink="users" routerLinkActive="active">Users</li>
			<li routerLink="login" routerLinkActive="active">Login</li>
		</ul>
	</nav>
</mat-toolbar>

<main class="container">
	<router-outlet></router-outlet>
</main>