ul {
	list-style: none;
	display: flex;

	li {
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.active {
	border-bottom: 1px solid #eee;
}

.container {
	padding: 20px;
}